<h1>Your Profile</h1>
<p><strong>Your User ID: </strong>
<%= current_user.id %><br>
<strong>Email:</strong>
<%= current_user.email %></p><br>

<h4>Your Meows</h4><br>

<% @meows.each do |f| %>

<div class="card" style="width: 20rem;">
  <div class="card-block">

    <p class="card-text">
      <%= f.content %></p><br>
      <p>Created at: <%= f.created_at %>

    </p>
    <%= link_to 'Delete', f, :method => :delete, :confirm => "Are you sure?", class: "btn btn-danger"%>
  </div>
</div>



<%end%>
