<%= form_for(meow) do |f| %>
  <% if meow.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(meow.errors.count, "error") %> prohibited this meow from being saved:</h2>

      <ul>
      <% meow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions btn btn-success">
    <%= f.submit %>
  </div>
<% end %>
