<h1>All Meows</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @meows.each do |meow| %>
      <tr>
        <td><%= meow.content %></td>
        <td><%= meow.user.email %></td>
        <td><%= meow.user.username %></td>
        <td><%= link_to 'Show', meow, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_meow_path(meow), class: 'btn btn-info' %></td>
        <td><%= link_to 'Delete', meow, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meow', new_meow_path, class: 'btn btn-primary' %>
